logs/train_basic/basic70k.zip
logs/train_deadly_corridor/current_best_s3.zip
logs/train_deadly_corridor/model9-1.zip
logs/train_deadly_corridor/model200000.zip
logs/train_deadly_corridor/model360000.zip
logs/train_deadly_corridor/model800000.zip
logs/train_deadly_corridor/model820000.zip
logs/train_deadly_corridor/model1000000.zip
logs/train_deadly_corridor/model1020000.zip
logs/train_deadly_corridor/model1400000.zip
logs/train_deadly_corridor/model1610000.zip
logs/train_deadly_corridor/model1700000.zip
logs/train_deadly_corridor/model1850000.zip
logs/train_deadly_corridor/model2100000.zip
logs/train_deadly_corridor/model2680000.zip
deathmatch/__pycache__/DeathmatchEnv.cpython-310.pyc
deathmatch/__pycache__/HelperFunctions.cpython-310.pyc
deathmatch/__pycache__/TrainAndLoggingCallback.cpython-310.pyc
deathmatch/log_deathmatch/PPO_1/events.out.tfevents.1673441598.air.students.clients.local.65511.0
log_basic/PPO_1/events.out.tfevents.1672942906.air.local.10617.0
log_deadly_corridor/PPO_1/events.out.tfevents.1672915162.70f1bf4382c1.148.0
log_deadly_corridor/PPO_2/events.out.tfevents.1672915413.70f1bf4382c1.148.1
log_deadly_corridor/PPO_3/events.out.tfevents.1672916999.70f1bf4382c1.148.2
log_deadly_corridor/PPO_4/events.out.tfevents.1672917326.70f1bf4382c1.148.3
log_deadly_corridor/PPO_5/events.out.tfevents.1672917757.70f1bf4382c1.148.4
logs/log_basic/PPO_1/events.out.tfevents.1672942906.air.local.10617.0
logs/log_basic/PPO_2/events.out.tfevents.1673007867.air.students.clients.local.16741.0
logs/log_deadly_corridor/PPO_1/events.out.tfevents.1672915162.70f1bf4382c1.148.0
logs/log_deadly_corridor/PPO_2/events.out.tfevents.1672915413.70f1bf4382c1.148.1
logs/log_deadly_corridor/PPO_3/events.out.tfevents.1672916999.70f1bf4382c1.148.2
logs/log_deadly_corridor/PPO_4/events.out.tfevents.1672917326.70f1bf4382c1.148.3
logs/log_deadly_corridor/PPO_5/events.out.tfevents.1672917757.70f1bf4382c1.148.4
logs/log_deadly_corridor/PPO_6/events.out.tfevents.1673267747.air.students.clients.local.43699.0
logs/log_deadly_corridor/PPO_7/events.out.tfevents.1673267788.air.students.clients.local.43730.0
logs/log_deadly_corridor/PPO_8/events.out.tfevents.1673268120.air.students.clients.local.43926.0
logs/tensorboard/deathmatch_simple_1/events.out.tfevents.1673202961.air.local.33086.0
logs/tensorboard/deathmatch_simple_2/events.out.tfevents.1673203416.air.local.33086.1
logs/tensorboard/deathmatch_simple_3/events.out.tfevents.1673204258.air.local.33086.2
logs/tensorboard/deathmatch_simple_4/events.out.tfevents.1673205460.air.local.36189.0
logs/tensorboard/PPO_1/events.out.tfevents.1673013196.air.students.clients.local.18830.0
logs/tensorboard/PPO_2/events.out.tfevents.1673013352.air.students.clients.local.19009.0
logs/tensorboard/PPO_3/events.out.tfevents.1673013411.air.students.clients.local.19073.0
logs/tensorboard/ppo_basic_1/events.out.tfevents.1673010898.air.students.clients.local.17463.0
logs/tensorboard/ppo_basic_10/events.out.tfevents.1673013075.air.students.clients.local.18630.0
logs/tensorboard/ppo_basic_11/events.out.tfevents.1673013138.air.students.clients.local.18722.0
logs/tensorboard/ppo_basic_2/events.out.tfevents.1673011557.air.students.clients.local.17779.0
logs/tensorboard/ppo_basic_3/events.out.tfevents.1673011598.air.students.clients.local.17799.0
logs/tensorboard/ppo_basic_4/events.out.tfevents.1673012030.air.students.clients.local.17919.0
logs/tensorboard/ppo_basic_5/events.out.tfevents.1673012405.air.students.clients.local.18144.0
logs/tensorboard/ppo_basic_6/events.out.tfevents.1673012575.air.students.clients.local.18283.0
logs/tensorboard/ppo_basic_7/events.out.tfevents.1673012661.air.students.clients.local.18343.0
logs/tensorboard/ppo_basic_8/events.out.tfevents.1673012765.air.students.clients.local.18398.0
logs/tensorboard/ppo_basic_9/events.out.tfevents.1673013054.air.students.clients.local.18644.0
deadly_corridor/__pycache__/env.cpython-310.pyc
deadly_corridor/_vizdoom.ini
_vizdoom.ini
deathmatch/_vizdoom.ini
basic/train_basic/basic70k.zip
GS_DS.png
__pycache__/
